<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Node with Docker</title>
</head>
<body>
  <div class="container">
    <ul>
      <div class="list-task">
        <input type="checkbox" name="" id="" value="lorem lorem lorem">
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </ul>
    <form action="/" method="post">
      <div class="input-group">
        <label for="task">Task</label>
        <input type="text" name="task" id="task">
        <button type="submit">Kirim</button>
      </div>
    </form>
  </div>
</body>
</html>